

<div data-spy="scroll" data-target="#navbar-example2"  id="sidenav">
    <li>
        <div class="img">
            <a href="">
                <img src="../../../../assets/images/caramelacademy.png" style="width: 200px; height: 75px; margin-top: 10px; margin-left: 50px;" alt="">
            </a>
        </div>
    </li>
   <li class="profile">
       <a href=""><img src="../../../../assets/images/student.jpg" alt=""></a>
   </li>
   <li class="instructor-hello">
       <label for="Instructor" >Hello Instructor!</label>
   </li>
   <li id="side-links">
    <a href=""><p>Courses <i class="fa fa-book" aria-hidden="true" style="color: aliceblue;"></i></p></a>
   </li>

   <li class="student-links">
    <a href=""><p>Students <i class="fa fa-graduation-cap" aria-hidden="true" style="color: aliceblue;"></i></p> </a>
   </li>

   <li class="skill-links">
    <a href="" class="nav-links">
       <p>Skills <i class="fa fa-cogs" aria-hidden="true" style="color: aliceblue;"></i></p>  
    </a>
   </li>

   <li class="nav-item dropdown asset-links">
     <p id="asset"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Manage Assets   </a> <i class="fa fa-edit" aria-hidden="true" style="color: aliceblue;"></i></p>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#one">one</a>
      <a class="dropdown-item" href="#two">two</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#three">three</a>
    </div>
    </li>

   <li class="perform-links">
    <a href=""><p>Course Performance <i class="fa fa-line-chart" aria-hidden="true" style="color: aliceblue;"></i></p></a> 
   </li>

   <li class="logout-links">
        <a href=""><p>Logout <i class="fa fa-sign-out" aria-hidden="true" style="color: aliceblue;"></i></p>  </a>
   </li>
  </div>
