 <nav class="navbar navbar-expand-lg navbar-light" id="nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <label class="dash">Dashboard <i class="fa fa-home" aria-hidden="true" style="color: black"></i></label>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
            <button class="button-report">View Reports</button>
        </li>
        <li class="nav-item" id="messages">
            <a href="#" class="notification">
                <span><i class="fa fa-envelope" style="color:black;font-size:25px;" aria-hidden="true"></i></span>
                <span class="badge">3</span>
            </a>
        </li>
        <li class="nav-item">
            <!-- <form action="#">
                <span class="search-input">
                <div class="autocomplete searchbar">
                    <input id = "automplete-3" placeholder="Search">
                    <a><i class="fa fa-search" type="submit" for="autocomplete-3" style="font-size:25px;background-color:white;" aria-hidden="true"></i></a>
                </div> -->
            <!-- </form> -->

            <form action="#">
                <span class="search-button">
                    <div class="autocomplete searchbar">
                        <input type="text" id="autocomplete-3" placeholder="Search">
                        <a href="#"><i class="fa fa-search" type="submit" for="autocomplete-3" style="font-size: 25px; background-color: aliceblue; color: #000; margin-left: 10px;" aria-hidden="true"></i></a>
                    </div>
                </span>
            </form>
        </li>
      </ul>
     
    </div>
  </nav> 



<!-- <mat-toolbar >
    <mat-toolbar-row>
  
        <div fxLayout fxLayout="row" fxLayoutAlign="flex-start">
            <ul fxLayout="row" fxLayoutGap="10px">   
                <li>
                    
                </li>
                <li>
                </li>
            </ul>
        </div>
        

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>
                            person_outline
                        </mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>exit_to_app</mat-icon>Logout
                    </button>
                    </mat-menu>

                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar> -->
