.bg{
    background-position:top;
        background-repeat: no-repeat;
        background-size:cover;
        z-index:1;
        opacity: 1;
        background-image: url("../../../../assets/images/welcome.jpg");
        height: 100%;
    }

    .button-group{
        margin-top: 30px;
    }
.footer{
width: 100%;
margin-top: 50px;
overflow: hidden;
color:black;
}
.social{
margin-top: 50px;
i{
    font-size: 40px;
}
}
.gap_u{
margin: 20px;
}
.gap_l{
margin-left: 35px; 
}
.cr
{
font-family: Times New Roman;
font-size: 75%;
font-weight:bold;
margin-top: 10px; 
}
.link{
    font-size: 25px;
}

