<div class="bg">
    <nav class="navbar navbar-expand-sm">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="/">
          <img src="../../../assets/images/caramelacademy.jpeg" alt="logo" style="width:240px; height:65px; margin:0px 0px 0px 0px;z-index: 2;border-radius: 40px 0px 0px 40px;">
        </a>
       </nav>
  <h2 style="text-align: center; font-size: 2rem; line-height: 1rem; margin-top: 3.7rem; margin-left:1rem;color: black;">Welcome to Caramel IT Academy Asset Library</h2>
  <br>
  <br>
  <div class="button-group" style="text-align: center;color:black;">
    <label><h3 style="font-size: 1.7rem; font-weight: 500; margin-top: 10px;"><strong>Register As Course Instructor</strong></h3></label>
    <br>
    <button class=" btn-outline-primary btn-lg active"><a routerLinkActive="active" routerLink="/register" style="color:white;">Sign Up!</a></button>
  </div>
  <br>
  <br>
  <label><h3 style="margin-left: 35rem; color: black; font-size: 1.5rem; font-weight: 500;">Already a Member?&nbsp;<a class="link" [routerLink]="'/login'" routerLinkActive="active" style="text-align: center; text-decoration: none;">Sign In</a></h3></label>
  <div class="conatiner">
  
  <div class="footer">
    <div class="row gap_u">
            <div class="row container-fluid justify-content-center align-items-center ">
                <div class="text-center social">
                    <i class="fa fa-facebook-f fa-2x"></i>
                    <i class="fa fa-instagram fa-2x gap_l"></i>
                    <i class="fa fa-pinterest-square fa-2x gap_l"></i>
                    <i class="fa fa-twitter-square fa-2x gap_l"></i>
                    <i class="fa fa-linkedin fa-2x gap_l"></i>
                </div>
            </div>
            <div class="row container-fluid justify-content-center align-items-center">
                <div class="cr text-center"><h3>©2020 All Rights Reserverd By Caramel IT Services Pvt. Ltd.</h3></div>
            </div>
    </div>
  </div>
  </div>
  <router-outlet></router-outlet>
  
  </div>
  
  