<app-header></app-header>
<section class="courses activ tab content">
    <div class="container">
        <label class="section-header">Courses</label>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <div class="card-profile">
                    <img src="../../../assets/images/mean.jpg" alt="John" style="width:100%">
                    <h3 class="pt-2">Mean Stack</h3>
                    <p class="title-person"></p>
                    <p></p>
                    <p><button class="button-class">Add to list</button></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-12">
                <div class="card-profile">
                    <img src="../../../assets/images/java.jpg" alt="John" style="width:100%;height: 50%">
                    <h3 class="pt-2">Fullstack Java</h3>
                    <p class="title-person"></p>
                    <p></p>
                
                    <p><button class="button-class">Add to list</button></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-12">
                <div class="card-profile">
                    <img src="../../../assets/images/ml.jpg" alt="John" style="width:100%">
                    <h3 class="pt-2">Machine Learning</h3>
                    <p class="title-person"></p>
                    <p></p>
                    <p><button class="button-class">Add to list</button></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-12">
                <div class="card-profile">
                    <img src="../../../assets/images/cc.jpg" alt="John" style="width:100%">
                    <h3 class="pt-2">Cloud Computing</h3>
                    <p class="title-person"></p>
                    <p></p>
                    <p><button class="button-class">Add to list</button></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <div class="card-profile">
                    <img src="../../../assets/images/ansible.jpg" alt="John" style="width:100%">
                    <h3 class="pt-2">Ansible</h3>
                    <p class="title-person"></p>
                    <p></p>
                 
                    <p><button class="button-class">Add to list</button></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-12">
                <div class="card-profile">
                    <img src="../../../assets/images/net.jpg" alt="John" style="width:100%;height: 50%">
                    <h3 class="pt-2">Backend Asp.net</h3>
                    <p class="title-person"></p>
                    <p></p>
                   
                    <p><button class="button-class">Add to list</button></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-12">
                <div class="card-profile">
                    <img src="../../../assets/images/java.jpg" alt="John" style="width:100%">
                    <h3 class="pt-2">Fullstack Java</h3>
                    <p class="title-person"></p>
                    <p></p>
                    <p><button class="button-class">Add to list</button></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-12">
                <div class="card-profile">
                    <img src="../../../assets/images/data.jpg" alt="John" style="width:100%">
                    <h3 class="pt-2">Data Science</h3>
                    <p class="title-person"></p>
                    <p></p>
                    <p><button class="button-class">Add to list</button></p>
                </div>
            </div>
        </div>
    </div>	   
</section>
